@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
/* Core style */
html {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  background: #30333a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6f7174;
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}
button:focus-visible {
  outline: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

a {
  color: #fff;
  display: inline-block;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.wrapper {
  overflow: clip;
}
.wrapper.blur {
  filter: blur(8px);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.red__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 32px;
  background: #ff453a;
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  color: #fff;
  transition: all 0.2s linear;
}
.red__btn:hover {
  background: #d5413a;
}

@media screen and (max-width: 1340px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  background-color: #212429;
  color: #fff;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
}

.title__lg {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 25px;
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, #212429 26.74%, #30333a 100%);
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  border-left: 0.5px solid rgba(255, 255, 255, 0.1);
  border-right: 0.5px solid rgba(255, 255, 255, 0.1);
  background-size: 100% 100%;
  border-radius: 20px;
  z-index: 1;
  transition: all 0.2s linear;
}
.product__card:hover {
  box-shadow: 0px -10px 14px -9px #00ff0a;
}
.product__card:hover .add__btn {
  background: #ff453a;
}
.product__card .offer__box {
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  gap: 5px;
}
.product__card .offer__box > div {
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 8px;
  border-radius: 8px;
  font-family: "Futura", sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.product__card .offer__box .discount__box {
  position: relative;
}
.product__card .offer__box .discount__box.block__tooltip:hover .discount__tooltip {
  transform: scaleY(1) translateX(-50%);
}
.product__card .offer__box .discount__box .discount__tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: scale(0) translateX(-50%);
  background: url(../../images/tooltip-bg.svg) no-repeat;
  background-size: 100% 100%;
  min-height: 42px;
  padding: 3px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transition: transform 0.2s linear;
  white-space: nowrap;
  width: 115px;
}
.product__card .offer__box .discount__box .discount__tooltip.first {
  bottom: 72%;
  left: 50%;
  background-size: 100% 69%;
  padding: 0px 0 17px 0;
}
.product__card .offer__box .discount__number span {
  background-image: linear-gradient(103.41deg, #15ffab -0.46%, #15ffff 99.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product__card-img {
  padding: 60px 0 58px 0;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(180deg, #212429 0%, #30333a 100%);
}
.product__card-img.no-pt {
  padding: 5px 0;
}
.product__card-img img {
  object-fit: contain;
  width: 100%;
}
.product__card-content {
  padding: 20px;
}
.product__card-content .product__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 15px;
}
.product__card-content .product__desc {
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}
.product__card .product__info-box {
  padding-top: 20px;
  display: flex;
  gap: 5px;
  position: relative;
}
.product__card .product__info-box .product__info {
  background: #373a42;
  border-radius: 20px;
  padding: 0 15px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.product__card .product__info-box .info__btn {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #373a42;
  cursor: pointer;
}
.product__card .product__info-box .info__btn.active .info__icon {
  display: none;
}
.product__card .product__info-box .info__btn.active .close__icon {
  display: block;
}
.product__card .product__info-box .info__btn .close__icon {
  display: none;
}
.product__card .product__info-list {
  position: absolute;
  bottom: 100%;
  left: 0;
  border-radius: 8px;
  background: #212429;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  padding: 15px;
  width: fit-content;
  height: fit-content;
  z-index: 10;
  transform-origin: bottom;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.product__card .product__info-list.active {
  transform: scale(1);
}
.product__card .product__info-list .info__title {
  text-align: center;
  color: #fffab0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.product__card .product__info-list .info__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 44px;
  padding-top: 10px;
}
.product__card .product__info-list .info__list li {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
}
.product__card-footer {
  padding: 0 20px 20px 20px;
}
.product__card-footer .flex__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.product__card-footer .product__price {
  color: #00ff0a;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.product__card-footer .add__btn {
  box-shadow: 0px 6px 18px -4px rgba(255, 69, 58, 0.6);
  border: 2px solid #ff453a;
  background: #2f3239;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s linear;
}
.product__card-footer .add__btn:hover {
  background: #ff453a;
}

.phone__input-box {
  position: relative;
  z-index: 1;
}
.phone__input-box input {
  padding: 10px 20px 0 20px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
}
.phone__input-box input::placeholder {
  color: #fff;
}
.phone__input-box input:focus + label {
  transform: translateY(-18px);
}
.phone__input-box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  color: #bdbdbd;
  transition: all 0.2s linear;
  z-index: 1;
  pointer-events: none;
}
.phone__input-box label.up {
  transform: translateY(-18px);
  font-size: 12px;
}

.send__code-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: none;
}
.send__code-text.show {
  display: block;
}
.send__code-text span {
  color: #ff453a;
}

.wrong__code {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #ff453a;
  display: none;
}
.wrong__code.show {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: url(../images/modal-overlay.webp) no-repeat;
  background-size: cover;
  filter: blur(100px);
  display: none;
}
.modal__overlay.show {
  display: block;
}

.auth__modal {
  transition: all 0.1s linear !important;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 0.3s linear;
  right: -100%;
}
.modal.show {
  right: 0;
}
.modal .error__text {
  display: none;
  color: #ff453a;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.modal .error__text.show {
  display: block;
}
.modal__top {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: end;
}
.modal__close-btn {
  width: 36px;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #373a42;
  cursor: pointer;
}
.modal__content {
  background: #212429;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 440px;
  width: 100%;
  height: 100%;
  right: 0;
  position: absolute;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal__title {
  color: #bdbdbd;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  padding: 86px 0 70px 0;
}
.modal__input {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 15px 20px;
  border-radius: 24px;
  border: none;
  background: #2f323a;
  color: #ffffff;
  width: 100%;
}
.modal__input::placeholder {
  color: #bdbdbd;
}
.modal .enter__code-input.error {
  color: #ff453a;
}
.modal .enter__code {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .enter__code-inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}
.modal .enter__code-inputs input {
  width: 35px;
  height: 45px;
  padding: 13px 5px;
  text-align: center;
  border-radius: 8px;
}
.modal .enter__code .line {
  background: #2f323a;
  min-width: 10px;
  max-width: 10px;
  height: 2px;
}
.modal .enter__code .send__code-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
.modal .enter__code .send__code-btn.disabled {
  color: rgba(255, 255, 255, 0.2);
}
.modal .remember__box {
  padding: 30px 0 30px 29px;
}
.modal .remember__box input {
  display: none;
}
.modal .remember__box label {
  cursor: pointer;
  position: relative;
}
.modal .remember__box label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -29px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #ff453a;
}
.modal .remember__box label::after {
  content: "";
  position: absolute;
  top: 80%;
  left: -25px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background: url(../../images/icons/check.svg) no-repeat;
  background-size: 10px;
}
.modal .send__btn {
  width: 100%;
  box-shadow: 0px 0px 5px 1px #ff7a67;
  cursor: pointer;
}
.modal__info {
  margin-top: auto;
  font-family: "Proxima Nova";
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
}
.modal__info a {
  color: rgba(255, 255, 255, 0.5019607843);
  text-decoration: underline;
}

.filter__modal .modal__close-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  height: 36px;
}
.filter__modal h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
}
.filter__modal .filter__boxes {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  gap: 26px;
}
.filter__modal .filter__boxes .filter__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 50;
}
.filter__modal .filter__boxes .filter__box.active .clicker__btn {
  background: #ff453a;
}
.filter__modal .filter__boxes .filter__box.active .clicker__btn .circle__box {
  background: #fff;
  right: 3px;
  left: auto;
}
.filter__modal .filter__box-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter__modal .filter__box-content span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.clicker__btn {
  width: 46px;
  height: 26px;
  padding: 3px;
  border-radius: 40px;
  background: #6f7174;
  position: relative;
  cursor: pointer;
}
.clicker__btn .circle__box {
  transition: all 0.2s linear;
  background: #ffffff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.modal__footer .clear__btn {
  background: #373a42;
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  padding: 15px 58px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  transition: all 0.2s linear;
}
.modal__footer .clear__btn:hover {
  background: #3e424b;
}
.modal__footer button {
  flex: 1 1 auto;
  border-radius: 24px;
  cursor: pointer;
}
.modal__footer .red__btn {
  width: 100%;
}
.modal__footer .apply__btn.disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.2);
  background: transparent;
  border-color: rgba(255, 255, 255, 0.0509803922);
}

.back__call {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  display: none;
}
.back__call.show {
  display: flex;
}
.back__call .modal__header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-bottom: 40px;
}
.back__call .modal__header .modal__close-btn {
  height: 36px;
}
.back__call .modal__content {
  position: relative;
  padding: 32px 20px;
  height: fit-content;
  max-width: 592px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.back__call .call__modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.back__call .select__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.back__call .select__box .arrow__down {
  transition: all 0.2s linear;
  cursor: pointer;
}
.back__call .select__box.active .arrow__down {
  transform: rotate(180deg);
}
.back__call .select__input {
  width: 100%;
}
.back__call .select__input span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #bdbdbd;
}
.back__call .arrow__down {
  position: relative;
  z-index: 200;
}
.back__call .modal__input {
  padding-right: 16px;
  cursor: pointer;
}
.back__call .selected__text {
  width: 100%;
  pointer-events: none;
}
.back__call .selected__text.active {
  color: #fff;
}
.back__call .option__box {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  background: #2f323a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  border-radius: 24px;
  display: none;
  transition: all 0.2s linear;
  transform-origin: top;
}
.back__call .option__box.show {
  display: block;
}
.back__call .option__box .scroll__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 224px;
  overflow-y: scroll;
  margin-top: 18px;
}
.back__call .option__box .scroll__box::-webkit-scrollbar {
  width: 2px;
}
.back__call .option__box .scroll__box::-webkit-scrollbar-thumb {
  background: #ff453a;
}
.back__call .option__box .option {
  cursor: pointer;
}
.back__call .option__box span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.back__call .option__box .flex__box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back__call .option__box p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.back__call .option__box .status {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.back__call .option__box .status.active {
  color: #00ff0a;
}
.back__call .option__box .status.closed {
  color: #ff453a;
}
.back__call .enter__num-code {
  display: flex;
  align-items: center;
  gap: 20px;
}
.back__call .enter__num-code .num__code {
  font-size: 36px;
  font-weight: 600;
  line-height: 44.03px;
}
.back__call .enter__num-code input {
  width: 214px;
  font-weight: 500;
}
.back__call .enter__num-code input::placeholder {
  font-size: 16px;
}
.back__call .enter__num-code input .warrning {
  color: #ff453a;
}
.back__call .warning__code {
  display: none;
  color: #ff453a;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.back__call .warning__code.show {
  display: block;
}
.back__call .sedn__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back__call .sedn__box .remember__box {
  max-width: 320px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.back__call .sedn__box .remember__box label {
  font-family: "Proxima Nova";
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}
.back__call .sedn__box .remember__box label::after {
  top: 71%;
}
.back__call .sedn__box .remember__box label a {
  text-decoration: underline;
  color: rgba(255, 69, 58, 0.6980392157);
  display: inline;
}
.back__call .sedn__box .red__btn {
  box-shadow: 0px 0px 5px 1px #ff7a67;
  flex: 1 1 auto;
  cursor: pointer;
}

.selected__text {
  background: transparent;
  border: none;
  outline: none;
}

.up__box {
  position: relative;
}
.up__box input {
  padding-bottom: 6px;
}
.up__box .up__text {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #bdbdbd;
  transition: all 0.2s linear;
  pointer-events: none;
}
.up__box .up__text.up {
  transform: translateY(-20px);
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .modal__footer .apply__btn {
    width: 100%;
    height: 52px;
  }
  .filter__modal .modal__footer {
    flex-direction: column;
  }
}
.swiper {
  padding-bottom: 30px;
}

.swiper .swiper-slide img {
  height: 43vh;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: rgba(255, 69, 58, 0.6);
  opacity: 1;
  margin: 0;
  width: 8px;
  height: 8px;
  cursor: pointer;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff453a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 10px;
  height: 10px;
}

.hero .swiper img.media__block {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero__swiper .swiper-slide img {
    height: 256px;
  }
}
@media screen and (max-width: 480px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
  .swiper-pagination {
    gap: 12px;
    align-items: center;
  }
}
.header {
  position: sticky;
  top: -3px;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
  z-index: 200;
  background: #212429;
}
.header.fixed {
  position: fixed;
  top: 0;
  margin-top: 0;
}
.header .sticky__logo {
  display: none;
  width: 220px;
}
.header__dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: none;
}
.header__dropdown p {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.header__dropdown .bg {
  z-index: 10;
  padding: 20px;
  width: 221px;
  transition: all 0.2s linear;
  background: #373a42;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  position: relative;
  z-index: 1;
  background: #373a42;
  border-radius: 8px;
}
.header__dropdown .bg::before {
  content: "";
  position: absolute;
  top: -8px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #373a42;
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-left: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 15px;
  height: 15px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}
.header__right {
  flex: 1;
}
.header__right-top {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}
.header__right-top .tel {
  font-weight: 600;
  line-height: 20px;
}
.header__right .work__time {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__right .work__time-info {
  width: 135px;
  margin: 0 auto;
}
.header__right .work__time:hover .work__time-dropdown {
  transform: translateX(-50%);
  opacity: 1;
  display: block;
}
.header__right .work__time-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #bdbdbd;
}
.header__right .work__time .arrow__down {
  transition: transform 0.2s linear;
}
.header__right .work__time:hover .arrow__down {
  transform: rotate(180deg);
}
.header__right-bottom {
  background: #373a42;
  border-radius: 40px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  height: 50px;
}
.header__right-bottom-left {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__right-bottom-right {
  cursor: pointer;
  padding-top: 4px;
  margin-left: auto;
}
.header__right-bottom-right img {
  height: 50px;
}
.header .nav__list {
  display: flex;
  gap: 20px;
}
.header .nav__link {
  padding: 15px 0;
  position: relative;
  transition: color 0.2s linear;
  font-weight: 600;
  line-height: 20px;
}
.header .nav__link.active {
  cursor: default;
}
.header .nav__link:hover, .header .nav__link.active {
  color: #bdbdbd;
}
.header .nav__link:hover::before, .header .nav__link.active::before {
  transform: scaleX(1);
}
.header .nav__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff453a;
  box-shadow: 0px 1px 4px 0px rgba(255, 122, 103, 0.6);
  border-radius: 0px 0px 40px 40px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.header .location {
  transition: all 0.2s linear;
}
.header .location:hover {
  color: #bdbdbd;
}
.header .location:hover .location__dropdown {
  transform: translateX(-50%);
  opacity: 1;
  display: block;
  color: #fff;
}
.header .location,
.header .login {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: all 0.2s linear;
}
.header .location:hover,
.header .login:hover {
  color: #bdbdbd;
}
.header__back-call {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__back-call:hover span {
  color: #bdbdbd;
}
.header__back-call span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: all 0.2s linear;
}

.hambuerger__menu {
  display: none;
}

.media__header {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #212429;
  z-index: 999;
  padding: 22px 0;
  transition: all 0.3s linear;
}
.media__header.show {
  right: 0;
}
.media__header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.media__header .location__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.media__header .location__box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media__header .location__text {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  color: #bdbdbd;
}
.media__header ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.media__header ul a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.57px;
  color: #fff;
}
.media__header ul a:hover, .media__header ul a.active {
  color: #ff453a;
}
.media__header ul a:hover svg path, .media__header ul a.active svg path {
  fill: #ff453a;
}
.media__header .line {
  width: 200%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 40px -30px;
}
.media__header .contact__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.media__header .contact__box .call {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media__header .contact__box span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #bdbdbd;
}
.media__header .contact__box a,
.media__header .contact__box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}
.media__header .apps {
  padding-top: 40px;
}
.media__header .apps h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 15px;
}
.media__header .apps a {
  display: block;
  margin-left: -23px;
}

@media screen and (max-width: 1400px) {
  .header__dropdown {
    left: 56px;
  }
}
@media screen and (max-width: 1335px) {
  .header__right-bottom-left {
    gap: 16px;
  }
}
@media screen and (max-width: 1260px) {
  .header__right-bottom {
    display: none;
  }
  .header .tel.media__block {
    display: block !important;
    width: 42px;
    height: 42px;
  }
  .header .tel.media__block img {
    width: 100%;
    height: 100%;
  }
  .header__dropdown {
    left: 50%;
  }
  .header__right-top {
    margin-bottom: 0;
  }
  .hambuerger__menu,
  .close__menu {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 100px 0px 0px 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #373a42;
  }
  .header__right {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: end;
  }
}
.flex__logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

@media screen and (max-width: 767px) {
  .header .default__logo {
    width: 140px;
    height: 63px;
  }
  .header .sticky__logo {
    width: fit-content;
  }
}
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: #2f323a;
  padding: 60px 0 38px 0;
}
.footer__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #bdbdbd;
  display: block;
}
.footer .first a,
.footer .first p {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.footer .adres,
.footer .work__time,
.footer .gmail__adres {
  font-weight: 600;
  font-size: 16px;
}
.footer .parrent__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  row-gap: 40px;
}
.footer .row {
  display: flex;
  align-items: start;
}
.footer .row.first {
  gap: 40px;
}
.footer .row.second {
  gap: 70px;
}
.footer .col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .teal__btn {
  background: #0bb699;
  border: 1.5px solid rgba(255, 255, 255, 0.1019607843);
  padding: 14px 20px 14px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 40px;
  width: fit-content;
  margin-top: 15px;
  transition: all 0.2s linear;
}
.footer .teal__btn:hover {
  background: #129c86;
}
.footer__menu-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #bdbdbd;
}
.footer__link {
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
}
.footer__link:hover {
  color: #bdbdbd;
}
.footer .last h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 25px;
}
.footer .last a {
  display: block;
  margin-left: -24px;
}
.footer .media__block,
.footer .xs__block {
  display: none;
}
.footer .tel,
.footer .font-600 {
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .footer .parrent__row .media__block {
    padding-top: 0;
  }
  .footer .media__block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .footer .row.second {
    justify-content: space-between;
    width: calc(100% - 224px);
    display: none;
  }
  .footer .row.first {
    display: none;
  }
  .footer .last {
    width: 234px;
  }
}
@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 14px;
    line-height: 28px;
  }
  .footer .teal__btn {
    font-size: 14px;
    padding: 12px 24px;
    margin-top: 0;
  }
  .footer .col {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer .parrent__row {
    gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .footer .media__block .col:last-child {
    text-align: center;
    width: 100%;
    justify-content: center;
  }
  .footer .teal__btn {
    margin: 0 auto;
  }
  .footer {
    padding: 40px 0;
  }
  .footer .last {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .footer .parrent__row .media__block.last-child {
    max-width: 160px;
    width: 100%;
  }
  .footer .xs__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer .xs__block a,
  .footer .xs__block span,
  .footer .xs__block p {
    font-size: 13px;
    line-height: 22px;
  }
  .footer .xs__block .col {
    justify-content: space-between;
    max-width: 160px;
    width: 100%;
  }
  .footer .xs__hide {
    display: none;
  }
  .footer .footer__link {
    font-size: 13px;
  }
  .footer .parrent__row {
    row-gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .swiper-slide img {
    height: 33vw;
  }
}
.hero {
  margin: 48px 0 80px 0;
}
.hero__swiper {
  padding-top: 20px;
}
.hero__swiper .swiper-slide img {
  background: #000;
}
.hero__swiper .swiper-slide {
  position: relative;
  border-radius: 40px;
}
.hero__swiper .swiper-slide img {
  border-radius: 40px;
  width: 100%;
}
.hero__swiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 36, 41, 0.6);
  z-index: 1;
  border-radius: 40px;
}
.hero__swiper .swiper-slide-active img {
  box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.2509803922);
}
.hero__swiper .swiper-slide-active::before {
  display: none;
}

.sidebars .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 80px;
}

.sticky__filter {
  position: sticky;
  top: 100px;
  max-width: 343px;
  width: 100%;
  z-index: 100;
  background: #212429;
}

.product__menu {
  padding-top: 6px;
  padding-right: 6px;
}
.product__menu .menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 13px;
}
.product__menu .menu__header .filter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 1px #ff7a67;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #373a42;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 0;
}
.product__menu .menu__header .filter__btn svg {
  width: 122px;
  height: 20px;
}
.product__menu .menu__header .filter__btn:hover {
  background: #ff453a;
}
.product__menu .menu__header .filter__btn:hover svg path {
  stroke: #fff;
}
.product__menu .stock__box {
  margin-top: 14px;
  display: flex;
  align-items: center;
  gap: 38px;
  padding: 0px 0 0px 23px;
}
.product__menu .stock__box:hover {
  background: linear-gradient(90deg, rgba(48, 51, 58, 0) 0%, #30333a 35.08%, #30333a 73.71%, rgba(48, 51, 58, 0) 100%);
}
.product__menu .stock__box-text {
  background-image: linear-gradient(99.46deg, #15ffab 0%, #15ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.01px;
}
.product__menu .line {
  width: 100%;
  height: 1px;
  background: #6f7174;
  margin-top: 20px;
}
.product__menu .scroll__box {
  overflow-y: scroll;
  max-height: calc(100vh - 170px);
  padding-right: 10px;
}
.product__menu .scroll__box::-webkit-scrollbar {
  background: transparent;
}
.product__menu .tab__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-right: 23px;
}
.product__menu .tab__header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.product__menu .tab__header-box.active .active__box {
  display: block;
}
.product__menu .tab__header .active__box {
  width: 10px;
  height: 10px;
  background: #ff453a;
  box-shadow: 0px 0px 5px 1px #ff453a;
  border-radius: 50%;
  display: none;
}
.product__menu .tab__header-item {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
.product__menu .tab__header-item:hover {
  background: linear-gradient(90deg, rgba(48, 51, 58, 0) 0%, #30333a 35.08%, #30333a 73.71%, rgba(48, 51, 58, 0) 100%);
  color: #bdbdbd;
}
.product__menu .tab__header-item .product__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.right__sidebar {
  flex: 1 1 0;
}
.right__sidebar-top {
  display: flex;
  align-items: stretch;
  padding-top: 25px;
}
.right__sidebar-banner {
  width: 100%;
}
.right__sidebar-banner img {
  border-radius: 24px 0px 0px 24px;
  height: 100%;
}
.right__sidebar .purchase__box {
  max-width: 306px;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  background: linear-gradient(180deg, rgba(33, 36, 41, 0) 23.95%, #00ffd1 140.19%);
  border-radius: 0px 24px 24px 0px;
}
.right__sidebar .purchase__box .time__info {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #bdbdbd;
}
.right__sidebar .purchase__box-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.right__sidebar .purchase__box-info {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding: 20px 0 30px 0;
  color: #bdbdbd;
}
.right__sidebar .purchase__box .price {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 20px;
}
.right__sidebar .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 40px 0;
}
.right__sidebar .timer .line {
  background: #ff453a;
  height: 24px;
  width: 2px;
}
.right__sidebar .timer__block .time {
  font-family: "Futura", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  color: #ff453a;
  display: inline-block;
}

.product__box {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.delivery {
  padding: 80px 0 120px;
}
.delivery__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  padding-bottom: 20px;
}
.delivery__desc .hide__text {
  display: none;
}
.delivery__desc .hide__text.show {
  display: block;
}
.delivery__desc,
.delivery .read__more {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 0 10px 0;
  color: #bdbdbd;
}
.delivery .read__more {
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.delivery .read__more img {
  transition: transform 0.2s linear;
}
.delivery .read__more.active img {
  transform: rotate(180deg);
}

.media__right-sidebar {
  display: none;
}

.product__menu-title {
  font-size: 26px;
}

.product__menu-title.media__block {
  display: none;
}

.bottom__panel {
  z-index: 400;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: #2f323a;
  padding: 14px 0 16px 0;
}
.bottom__panel .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.bottom__panel .container > div {
  text-align: center;
}
.bottom__panel .container span {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.23px;
}

@media screen and (max-width: 1255px) {
  .right__sidebar-banner img {
    width: 100%;
  }
  .sidebars .container {
    gap: 20px;
  }
  .product__menu {
    max-width: 270px;
  }
  .right__sidebar .purchase__box {
    padding-bottom: 48px;
  }
  .footer .row.second {
    gap: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .product__menu-title.media__block {
    display: block;
  }
  .phone__input-box input,
  .back__call .modal__input,
  .back__call .sedn__box .red__btn {
    height: 46px;
  }
  .product__menu .line {
    display: none;
  }
  .back__call .modal__input,
  .up__box .up__text {
    font-size: 14px;
  }
  .product__menu .tab__header-item:hover {
    background: #373a42;
  }
  .sticky__filter {
    top: 0;
    max-width: 100%;
    margin-right: -20px;
    margin: 10px 0 18px 0;
    z-index: 201;
    padding: 15px 0 20px 0;
  }
  .sidebars .container {
    flex-direction: column;
    row-gap: 0;
  }
  .product__menu .scroll__box {
    height: fit-content;
    overflow: hidden;
  }
  .product__menu .stock__box {
    display: none;
  }
  .product__menu {
    max-width: 100%;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .product__menu .active__box {
    display: none !important;
  }
  .product__menu .tab__header {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    margin-top: 0;
    padding-bottom: 0;
  }
  .product__menu .tab__header::-webkit-scrollbar {
    display: none;
  }
  .product__menu .tab__header img {
    display: none;
  }
  .product__menu .tab__header a {
    font-size: 14px;
  }
  .product__menu .tab__header-item::before {
    display: none;
  }
  .right__sidebar {
    width: 100%;
  }
  .product__menu .tab__header-item .product__name {
    white-space: nowrap;
    font-size: 14px;
    line-height: 16.94px;
  }
  .product__menu .tab__header-item {
    padding: 8px 16px;
    border-radius: 20px;
    background: #373a42;
  }
  .media__hide-sidebar {
    display: none;
  }
  .media__right-sidebar {
    display: block;
    padding-bottom: 60px;
  }
  .product__box {
    padding-top: 0;
  }
  .product__menu .scroll__box {
    margin-right: -55px;
  }
  .product__menu-title {
    font-size: 24px;
    display: none;
  }
  .product__menu .menu__header {
    padding-bottom: 0;
    position: relative;
  }
  .product__menu .menu__header::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    background: #212429;
    filter: blur(8px);
    width: 45px;
    height: 100%;
    z-index: 10;
  }
  .product__menu .tab__header-box.active {
    color: #ff453a;
  }
  .product__menu .tab__header-box.active p {
    color: #ff453a !important;
  }
  .header .default__logo {
    width: 160px;
  }
  .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
@media screen and (max-width: 815px) {
  .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 1024px) {
  .sticky__filter {
    padding-bottom: 15px;
  }
  .hero__swiper .swiper-slide img {
    height: 350px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
  }
  .header__right .work__time-text {
    font-size: 14px;
  }
  .title__lg {
    font-size: 24px;
    line-height: 29.35px;
  }
  .header .container {
    gap: 1rem;
  }
  .right__sidebar .purchase__box .time__info {
    font-size: 14px;
    line-height: 17.12px;
  }
  .right__sidebar .timer {
    padding: 30px 0;
  }
  .right__sidebar .purchase__box-title {
    font-size: 16px;
    line-height: 19.57px;
  }
  .right__sidebar .purchase__box-info {
    font-size: 13px;
    line-height: 15.9px;
    padding: 15px 0 30px 0;
  }
  .right__sidebar .timer__block .time {
    font-size: 24px;
    line-height: 31.9px;
  }
  .right__sidebar .timer {
    gap: 22px;
  }
  .right__sidebar .purchase__box .price {
    font-size: 24px;
    line-height: 29.35px;
    padding-bottom: 15px;
  }
  .right__sidebar .purchase__box {
    padding: 0 15px 30px 15px;
    max-width: 232px;
  }
  .red__btn {
    font-size: 14px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .product__card-content .product__name {
    font-size: 16px;
    line-height: 19.57px;
  }
  .product__card .product__info-box {
    padding-top: 15px;
  }
  .product__card .product__info-box .product__info {
    padding: 0 12px;
    height: 32px;
    font-size: 13px;
    line-height: 15.9px;
  }
  .product__card-content .product__desc {
    font-size: 13px;
    line-height: 15.9px;
  }
  .product__card .product__info-box .info__btn {
    width: 32px;
    height: 32px;
  }
  .product__card-footer .add__btn {
    width: 34px;
    height: 34px;
  }
  .product__card-footer .product__price {
    font-size: 18px;
    line-height: 22.01px;
  }
  .header .header__logo .img__1 {
    width: 50px;
  }
  .header .header__logo .img__2 {
    width: 85px;
  }
  .product__card-img {
    padding: 50px 0;
  }
  .product__card-content {
    padding: 20px 15px 0 15px;
  }
  .delivery__title {
    font-size: 22px;
    line-height: 27px;
  }
  .delivery__desc,
  .delivery .read__more {
    font-size: 14px;
    line-height: 17px;
  }
  .delivery .read__more.active img {
    width: 10px;
    height: 12px;
  }
  .filter__modal .filter__boxes {
    gap: 20px;
  }
  .back__call .enter__num-code .num__code {
    font-size: 24px;
  }
  .modal__footer .apply__btn,
  .modal__footer .clear__btn {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header .tel.media__block {
  display: none;
}

@media screen and (max-width: 635px) {
  .header .header__right .header__right-top {
    display: none !important;
  }
  .header__right {
    gap: 10px;
  }
  .back__call .sedn__box {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .modal__input,
  .up__box .up__text,
  .phone__input-box input,
  .phone__input-box label {
    font-size: 14px;
  }
  .phone__input-box input {
    height: 44px;
  }
  .modal .remember__box label {
    font-size: 14px;
  }
  .modal .send__btn {
    height: 44px;
    font-size: 16px;
  }
  .modal .enter__code-inputs input {
    font-size: 16px;
  }
  .auth__modal .modal__title {
    font-size: 24px;
  }
  .filter__modal h2 {
    font-size: 24px;
  }
  .filter__modal .filter__box-content span {
    font-size: 16px;
  }
  .modal__footer .clear__btn {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal__footer .apply__btn {
    height: 44px;
    font-size: 16px;
  }
  .pizza .product__card-img > img,
  #pancakes .product__card-img > img {
    height: 134px;
  }
  .phone__input-box input,
  .back__call .modal__input,
  .back__call .sedn__box .red__btn {
    height: 44px;
  }
  .product__cards {
    gap: 10px;
    padding-top: 20px;
    grid-template-columns: auto auto;
  }
  .footer .last a {
    margin-left: 0;
  }
  .product__card .product__info-list .info__list {
    gap: 5px;
  }
  .product__card-content .product__name {
    padding-bottom: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .product__card-footer .flex__box {
    padding-top: 15px;
  }
  .product__card-content {
    padding: 10px 10px 0 10px;
  }
  .product__card-footer {
    padding: 0 10px 15px 10px;
  }
  .product__card-footer .product__price {
    font-size: 16px;
    line-height: 19.57px;
  }
  .product__card-footer .add__btn {
    width: 32px;
    height: 32px;
  }
  .product__card-content .product__desc,
  .product__card .product__info-box {
    display: none;
  }
  .product__card-img {
    padding: 30px 0;
  }
  .product__card-img > img {
    height: 78px;
    width: 100%;
  }
  .product__card .offer__box {
    display: none;
  }
  .product__card-img,
  .product__card {
    border-radius: 14px;
  }
  .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .media__right-sidebar {
    padding-bottom: 40px;
  }
  .sticky__filter {
    margin: 20px 0 40px 0 !important;
  }
  .header {
    padding-top: 5px;
    margin-top: 15px;
  }
  .bottom__panel {
    display: block;
    padding-bottom: 25px;
  }
  .bottom__panel .active img {
    display: none;
  }
  .bottom__panel .active img.active-img {
    display: block;
    margin: 0 auto 4px auto;
  }
  .bottom__panel .active span {
    color: #ff453a;
  }
}
@media screen and (max-width: 767px) {
  .product__card {
    border-width: 1px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .tel.media__block {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .tel.media__block img {
    display: block;
  }
  .title {
    font-size: 24px;
    line-height: 29.35px;
  }
  .right__sidebar-top {
    flex-direction: column;
  }
  .right__sidebar .purchase__box {
    max-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 15px 25px 15px;
  }
  .right__sidebar-banner {
    height: 160px;
  }
  .right__sidebar-banner img {
    border-radius: 16px 16px 0px 0px;
    height: 100%;
    object-fit: cover;
  }
  .title__lg {
    font-size: 20px;
  }
  .right__sidebar .purchase__box .time__info {
    padding-top: 5px;
  }
  .right__sidebar .timer {
    padding: 25px 0;
  }
  .right__sidebar .purchase__box-info {
    padding: 15px 0 25px 0;
  }
  .right__sidebar .purchase__box .price {
    font-size: 20px;
    line-height: 24.46px;
    padding-bottom: 15px;
  }
  .purchase__box {
    background: linear-gradient(180deg, rgba(33, 36, 41, 0) -10.05%, #00ffd1 120.19%) !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  .hambuerger__menu,
  .close__menu {
    width: 36px;
    height: 36px;
  }
  .header .header__logo .img__1 {
    width: 50px;
  }
  .header .header__logo .img__2 {
    width: 85px;
  }
  .product__card-img.no-pt {
    padding: 0;
  }
  .delivery__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 15px;
  }
  .delivery {
    padding: 60px 0;
  }
  .hero {
    margin: 20px 0 40px 0;
  }
  .hero .swiper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero .swiper .swiper-slide-active img {
    box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.2509803922);
  }
}
@media screen and (max-width: 520px) {
  .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .modal .enter__code .send__code-btn {
    padding: 0;
    white-space: nowrap;
  }
  .auth__modal .modal__title {
    padding-top: 40px;
  }
  .footer {
    padding: 40px 0 100px 0;
  }
  .media__right-sidebar .title {
    text-align: center;
  }
  .hero .swiper img,
  .hero__swiper .swiper-slide,
  .hero__swiper .swiper-slide::before {
    border-radius: 18px;
  }
  .hero__swiper .swiper-slide {
    height: 420px;
  }
  .hero__swiper .swiper-slide img {
    height: 100%;
    object-fit: cover;
  }
  .hero .swiper img.media__block {
    display: block;
  }
  .hero .swiper img.media__hide {
    display: none;
  }
  .auth__modal .modal__content {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .modal .enter__code .send__code-btn {
    font-size: 12px;
  }
  .filter__modal .filter__box-content span {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .back__call .modal__content {
    padding: 30px 15px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 370px) {
  .back__call .enter__num-code {
    flex-direction: column;
    align-items: start;
  }
  .back__call .enter__num-code .up__box {
    width: 100%;
    height: 50px;
  }
  .back__call .enter__num-code input {
    width: 100%;
    height: 100%;
  }
  .modal .enter__code .send__code-btn {
    font-size: 12px;
  }
  .modal .enter__code-inputs {
    gap: 2px;
  }
}
@media screen and (max-width: 353px) {
  .back__call .sedn__box .remember__box label::after {
    top: 63%;
  }
  .product__cards {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

/*# sourceMappingURL=main.css.map */
