/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

a {
  color: #fff;
  display: inline-block;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.red__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 32px;
  background: #ff453a;
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  color: #fff;
}

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  background-color: #212429;
  color: #fff;
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
}

.title__lg {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 25px;
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, #212429 26.74%, #30333a 100%);
  border: 1px solid;
  border-radius: 20px;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  transition: all 0.2s linear;
}
.product__card:hover {
  box-shadow: 0px -10px 14px -9px #00ff0a;
}
.product__card .offer__box {
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  gap: 5px;
}
.product__card .offer__box > div {
  background: rgba(0, 0, 0, 0.5019607843);
  padding: 8px;
  border-radius: 8px;
  font-family: Futura;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.product__card .offer__box .discount__box {
  position: relative;
}
.product__card .offer__box .discount__box.block__tooltip:hover .discount__tooltip {
  transform: scaleY(1) translateX(-50%);
}
.product__card .offer__box .discount__box .discount__tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: scale(0) translateX(-50%);
  background: url(../../images/tooltip-bg.svg) no-repeat;
  background-size: 100% 100%;
  min-height: 42px;
  padding: 3px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transition: transform 0.2s linear;
}
.product__card .offer__box .discount__number span {
  background-image: linear-gradient(103.41deg, #15ffab -0.46%, #15ffff 99.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product__card-img {
  padding: 60px 0 58px 0;
  text-align: center;
  background: linear-gradient(180deg, #212429 0%, #30333a 100%);
  border-radius: 20px;
}
.product__card-img.no-pt {
  padding: 5px 0;
}
.product__card-img img {
  object-fit: contain;
  width: 100%;
}
.product__card-content {
  padding: 20px;
}
.product__card-content .product__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 15px;
}
.product__card-content .product__desc {
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}
.product__card .product__info-box {
  padding-top: 20px;
  display: flex;
  gap: 5px;
  position: relative;
}
.product__card .product__info-box .product__info {
  background: #373a42;
  border-radius: 20px;
  padding: 0 15px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.product__card .product__info-box .info__btn {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #373a42;
  cursor: pointer;
}
.product__card .product__info-box .info__btn.active .info__icon {
  display: none;
}
.product__card .product__info-box .info__btn.active .close__icon {
  display: block;
}
.product__card .product__info-box .info__btn .close__icon {
  display: none;
}
.product__card .product__info-list {
  position: absolute;
  bottom: 100%;
  left: 0;
  border-radius: 8px;
  background: #212429;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  padding: 15px;
  width: fit-content;
  height: fit-content;
  z-index: 10;
  transform-origin: bottom;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.product__card .product__info-list.active {
  transform: scale(1);
}
.product__card .product__info-list .info__title {
  text-align: center;
  color: #fffab0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.product__card .product__info-list .info__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 44px;
  padding-top: 10px;
}
.product__card .product__info-list .info__list li {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.product__card-footer {
  padding: 0 20px 20px 20px;
}
.product__card-footer .flex__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.product__card-footer .product__price {
  color: #00ff0a;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.product__card-footer .add__btn {
  box-shadow: 0px 6px 18px -4px rgba(255, 69, 58, 0.6);
  border: 2px solid #ff453a;
  background: #2f3239;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s linear;
}
.product__card-footer .add__btn:hover {
  background: #ff453a;
}

.swiper {
  padding-bottom: 30px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: rgba(255, 69, 58, 0.6);
  opacity: 1;
  cursor: pointer;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff453a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.header {
  position: sticky;
  margin-top: 20px;
  left: 0;
  width: 100%;
}
.header__dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%) scaleY(0);
  background: url(../images/dropdown-bg.webp) no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  padding: 31px 43px 20px 43px;
  transform-origin: top;
  transition: all 0.2s linear;
}
.header__dropdown p {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}
.header__right {
  flex: 1;
}
.header__right-top {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}
.header__right-top .tel {
  font-weight: 600;
  line-height: 20px;
}
.header__right .work__time {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header__right .work__time:hover .work__time-dropdown {
  transform: translateX(-50%) scaleY(1);
}
.header__right .work__time-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #bdbdbd;
}
.header__right .work__time .arrow__down {
  transition: transform 0.2s linear;
}
.header__right .work__time:hover .arrow__down {
  transform: rotate(180deg);
}
.header__right-bottom {
  background: #373a42;
  border-radius: 40px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  height: 50px;
}
.header__right-bottom-left {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__right-bottom-right {
  cursor: pointer;
  padding-top: 4px;
  margin-left: auto;
}
.header__right-bottom-right img {
  height: 50px;
}
.header .nav__list {
  display: flex;
  gap: 20px;
}
.header .nav__link {
  padding: 15px 0;
  position: relative;
  transition: color 0.2s linear;
  font-weight: 600;
  line-height: 20px;
}
.header .nav__link:hover, .header .nav__link.active {
  color: #bdbdbd;
}
.header .nav__link:hover::before, .header .nav__link.active::before {
  transform: scaleX(1);
}
.header .nav__link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ff453a;
  box-shadow: 0px 1px 4px 0px rgba(255, 122, 103, 0.6);
  border-radius: 0px 0px 40px 40px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.header .location:hover .location__dropdown {
  transform: translateX(-50%) scaleY(1);
}
.header .location,
.header .login {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  position: relative;
}

.hero {
  margin: 48px 0 80px 0;
}
.hero__swiper {
  padding-top: 20px;
}
.hero__swiper .swiper-slide img {
  background: #000;
}
.hero__swiper .swiper-slide {
  position: relative;
  border-radius: 40px;
}
.hero__swiper .swiper-slide img {
  border-radius: 40px;
  width: 100%;
}
.hero__swiper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 36, 41, 0.6);
  z-index: 1;
}
.hero__swiper .swiper-slide-active img {
  box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, 0.2509803922);
}
.hero__swiper .swiper-slide-active::before {
  display: none;
}

.sidebars .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 80px;
}

.product__menu {
  max-width: 343px;
  width: 100%;
}
.product__menu .menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 33px;
}
.product__menu .menu__header .filter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 1px #ff7a67;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #373a42;
  cursor: pointer;
}
.product__menu .stock__box {
  display: flex;
  align-items: center;
  gap: 38px;
  padding: 0 0 20px 23px;
  border-bottom: 1px solid #6f7174;
}
.product__menu .stock__box-text {
  background-image: linear-gradient(99.46deg, #15ffab 0%, #15ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.01px;
}
.product__menu .tab__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  padding-right: 23px;
}
.product__menu .tab__header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.product__menu .tab__header-box.active .active__box {
  display: block;
}
.product__menu .tab__header .active__box {
  width: 10px;
  height: 10px;
  background: #ff453a;
  box-shadow: 0px 0px 5px 1px #ff453a;
  border-radius: 50%;
  display: none;
}
.product__menu .tab__header-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
.product__menu .tab__header-item:hover::before {
  transform: scaleX(1);
}
.product__menu .tab__header-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: transform 0.3s linear;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(90deg, rgba(48, 51, 58, 0) 0%, #30333a 35.08%, #30333a 73.71%, rgba(48, 51, 58, 0) 100%);
}
.product__menu .tab__header-item .product__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.right__sidebar {
  flex: 1 1 0;
}
.right__sidebar-top {
  display: flex;
  align-items: stretch;
  padding-top: 25px;
}
.right__sidebar-banner {
  width: 100%;
}
.right__sidebar-banner img {
  border-radius: 24px 0px 0px 24px;
  height: 100%;
}
.right__sidebar .purchase__box {
  max-width: 306px;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  background: linear-gradient(180deg, rgba(33, 36, 41, 0) 23.95%, #00ffd1 140.19%);
  border-radius: 0px 24px 24px 0px;
}
.right__sidebar .purchase__box .time__info {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #bdbdbd;
}
.right__sidebar .purchase__box-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.right__sidebar .purchase__box-info {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding: 20px 0 30px 0;
  color: #bdbdbd;
}
.right__sidebar .purchase__box .price {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 20px;
}
.right__sidebar .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 40px 0;
}
.right__sidebar .timer .line {
  background: #ff453a;
  height: 24px;
  width: 2px;
}
.right__sidebar .timer__block .time {
  font-family: "Futura", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  color: #ff453a;
  display: inline-block;
}

.product__box {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.delivery {
  padding: 80px 0 120px;
}
.delivery__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
  padding-bottom: 20px;
}
.delivery__desc .hide__text {
  display: none;
}
.delivery__desc .hide__text.show {
  display: block;
}
.delivery__desc,
.delivery .read__more {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 0 10px 0;
  color: #bdbdbd;
}
.delivery .read__more {
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.delivery .read__more img {
  transition: transform 0.2s linear;
}
.delivery .read__more.active img {
  transform: rotate(180deg);
}

/*# sourceMappingURL=main.css.map */
