.outline__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 9px 25px;
  border: 2px solid #ff453a;
  position: relative;
  z-index: 1;
  background: transparent;
  border-radius: 40px;
	transition: all .2s linear;
	color: #fff;
	&:hover {
		background: #FF453A;

	}
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: transparent;
  //   z-index: -1;
  //   // border: 2px solid #ff7a67;
  // 	box-shadow: 0 0 10px #ff7a67;
  // }
}
