button {
  padding: 0;
  cursor: pointer;
}
.outline__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 9px 25px;
  border: 2px solid #FF453A;
  position: relative;
  z-index: 1;
  border-radius: 40px;
  transition: all 0.2s linear;
  box-shadow: 0px 0px 5px 1px #FF7A67;
  color: #fff;
  &:hover {
    background: #ff453a;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: transparent;
  //   z-index: -1;
  //   // border: 2px solid #ff7a67;
  // 	box-shadow: 0 0 10px #ff7a67;
  // }
}

.vk__btn {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 0.2s linear;
  &:hover {
    background: #55a4ff;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1.5px solid #55a4ff;
    border-radius: 50%;
    z-index: 3;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px #65adff;
    border-radius: 50%;
    z-index: 2;
  }
}

@media screen and (max-width: 1024px) {
  .outline__btn {
    padding: 9px 22px;
    font-size: 14px;
  }
  .vk__btn {
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
    img {
      width: 14px;
      height: 8px;
    }
  }
}
