.product__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 25px;
}
.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, #212429 26.74%, #30333a 100%);
  // border: 1px solid;
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  border-left: 0.5px solid rgba(255, 255, 255, 0.1);
  border-right: 0.5px solid rgba(255, 255, 255, 0.1);
  // background: url(../../images/border2.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  // border-image-source: linear-gradient(
  //   180deg,
  //   rgba(255, 255, 255, 0.1) 0%,
  //   rgba(255, 255, 255, 0) 100%
  // );
  z-index: 1;
  // padding: 2px;
  transition: all 0.2s linear;
  &:hover {
    box-shadow: 0px -10px 14px -9px #00ff0a;
    .add__btn {
      background: #ff453a;
    }
  }

  .offer__box {
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    gap: 5px;

    & > div {
      background: #00000080;
      padding: 8px;
      border-radius: 8px;
      font-family: "Futura", sans-serif;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    .discount__box {
      position: relative;
      &.block__tooltip {
        &:hover {
          .discount__tooltip {
            transform: scaleY(1) translateX(-50%);
          }
        }
      }
      .discount__tooltip {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: scale(0) translateX(-50%);
        background: url(../../images/tooltip-bg.svg) no-repeat;
        background-size: 100% 100%;
        min-height: 42px;
        padding: 3px 20px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: left;
        transition: transform 0.2s linear;
        white-space: nowrap;
        width: 115px;

        &.first {
          bottom: 72%;
          left: 50%;
          background-size: 100% 69%;
          padding: 0px 0 17px 0;
        }
      }
    }
    .discount__number span {
      background-image: linear-gradient(
        103.41deg,
        #15ffab -0.46%,
        #15ffff 99.54%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &-img {
    padding: 60px 0 58px 0;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(180deg, #212429 0%, #30333a 100%);
    &.no-pt {
      padding: 5px 0;
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  &-content {
    padding: 20px;

    .product__name {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      padding-bottom: 15px;
    }
    .product__desc {
      font-size: 14px;
      line-height: 17px;
      color: #bdbdbd;
    }
  }
  .product__info-box {
    padding-top: 20px;
    display: flex;
    gap: 5px;
    position: relative;

    .product__info {
      background: #373a42;
      border-radius: 20px;
      padding: 0 15px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bdbdbd;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }
    .info__btn {
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #373a42;
      cursor: pointer;
      &.active {
        .info__icon {
          display: none;
        }
        .close__icon {
          display: block;
        }
      }
      .close__icon {
        display: none;
      }
    }
  }
  .product__info-list {
    position: absolute;
    bottom: 100%;
    left: 0;
    border-radius: 8px;
    background: #212429;
    border: 1px solid #ffffff1a;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    transform-origin: bottom;
    transform: scale(0);
    transition: transform 0.2s linear;

    &.active {
      transform: scale(1);
    }
    .info__title {
      text-align: center;
      color: #fffab0;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    .info__list {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 44px;
      padding-top: 10px;
      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        white-space: nowrap;
      }
    }
  }

  &-footer {
    padding: 0 20px 20px 20px;
    .flex__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
    }
    .product__price {
      color: #00ff0a;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }
    .add__btn {
      box-shadow: 0px 6px 18px -4px #ff453a99;
      border: 2px solid #ff453a;
      background: #2f3239;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background 0.2s linear;

      &:hover {
        background: #ff453a;
      }
    }
  }
}
