/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  background: #30333a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
a {
  color: #fff;
  display: inline-block;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
.wrapper {
  overflow: clip;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.red__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 32px;
  background: #ff453a;
  border: 1px solid #ffffff0d;
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  color: #fff;
}
