@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
/* Core style */
html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 3px;
  background: #30333a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6f7174;
  border-radius: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  &:focus-visible {
    outline: none;
  }
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
a {
  color: #fff;
  display: inline-block;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
.wrapper {
  overflow: clip;

  &.blur {
    filter: blur(8px);
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.red__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 32px;
  background: #ff453a;
  border: 1px solid #ffffff0d;
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  color: #fff;
  transition: all 0.2s linear;
  &:hover {
    background: #d5413a;
  }
}

// breadcrumb
.breadcrumb {
  padding: 60px 0 27px 0;
  &.pb-20 {
    padding-bottom: 20px;
  }
  .line {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #bdbdbd;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__link {
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
  }
}
// dropdown
.relative__box {
  position: relative;
  &:hover {
    .dropdown {
      display: block;
    }
  }
}
.dropdown {
  position: absolute;
  bottom: 129%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ffffff1a;
  padding: 10px 16px;
  border-radius: 8px;
  background: #373a42;
  z-index: 10;
  display: none;

  &::before {
    content: "";
    position: absolute;
    bottom: -7.9px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(225deg);
    background: #373a42;
    border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
    border-left: 1px solid rgba(255, 255, 255, 0.1019607843);
    width: 15px;
    height: 15px;
  }
}
// media
@media screen and (max-width: 1340px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .breadcrumb {
    padding: 60px 0 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .breadcrumb {
    padding: 40px 0 20px 0;
  }
  .breadcrumb__link {
    font-size: 12px;
  }
  .breadcrumb__list {
    gap: 7px;
  }
  .breadcrumb .line {
    width: 3px;
    height: 3px;
  }
}
