body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  background-color: #212429;
  color: #fff;
  position: relative;
  &.no-scroll {
    padding-right: 3px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    -webkit-overflow-scrolling: auto;
  }

  &.blur {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  &.blur-two {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &::before,
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  &::after {
    z-index: 990;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;

  &.pb-25 {
    padding-bottom: 25px;
  }
}
.title__lg {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}
.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.35px;
  color: #bdbdbd;
}
@media screen and (max-width: 1365px) {
  body.no-scroll {
    padding-right: 0 !important;
  }
}
