body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  background-color: #212429;
  color: #fff;
  &.no-scroll {
    overflow: hidden;
    padding-right: 3px;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;

  &.pb-25 {
    padding-bottom: 25px;
  }
}
.title__lg {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}
.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.35px;
  color: #bdbdbd;
}
