.map-circle-placemark._outline .map-circle-placemark__caption {
  background: red;
}
[class*="map-circle-placemark._outline"] {
  background: red;
}
[class*="copyrights-pane"] {
  display: none !important;
}
[class*="ground-pane"] {
  position: relative;
}

.contact {
  background: #2f323a;
  padding: 40px 0 120px 0;
  .title {
    padding-bottom: 25px;
  }
  .flex__box {
    display: flex;
    align-items: start;
    gap: 35px;
  }
  .map__box {
    flex: 1 1 auto;
    .relative__box {
      position: relative;
    }
    #map {
      width: 100%;
      height: 480px;
      overflow: hidden;
      background: #000;
      border-radius: 20px;
    }
    .map__icons-content {
      width: 100%;
      white-space: nowrap;
      position: absolute;
      display: flex;
      align-items: center;
      gap: 2px;
      .map__icon-info {
        width: fit-content;
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.12px;
        padding: 1px 6px;
        background: #00000080;
        border-radius: 3px;
        color: #fff;
      }
      &.one {
        top: 52px;
        left: -489px;
      }
      &.two {
        top: 150px;
        left: -384px;
      }
      &.three {
        top: -126px;
        left: -231px;
      }
      &.four {
        top: 10px;
        left: -200px;
      }
      &.five {
        bottom: 129px;
        left: 10px;
      }
      &.six {
        top: 50px;
        right: 0;
        align-items: stretch;
        .info__box {
          display: flex;
          flex-direction: column;
          gap: 2px;
          span {
            color: #fff;
            background: #00000080;
            font-size: 14px;
            font-weight: 500;
            line-height: 17.12px;
            padding: 0 6px;
            border-radius: 3px;
          }
        }
        img {
          height: unset;
          background: #00000080;
          padding: 5px 6px;
          border-radius: 3px;
          width: 34px;
          height: 34px;
        }
      }
    }
    .location {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 2px;
      cursor: pointer;
      .info__box {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
      &.one {
        top: 52px;
        left: 489px;
      }
      &.two {
        top: 150px;
        left: 384px;
      }
      &.three {
        top: 226px;
        left: 231px;
      }
      &.four {
        top: 250px;
        left: 430px;
      }
      &.five {
        bottom: 129px;
        left: 422px;
      }
      &.six {
        top: 198px;
        right: 57px;
        align-items: stretch;
        img {
          height: unset;
        }
      }
      &__img {
        background: #00000080;
        padding: 5px 6px;
        border-radius: 3px;
        width: 34px;
        height: 34px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    iframe {
      width: 100%;
      border: none;
      border-radius: 20px;
    }
    .bottom__box {
      padding-top: 25px;
      display: flex;
      align-items: start;
      gap: 40px;
    }
    .status__box {
      display: flex;
      align-items: center;
      gap: 7px;
      padding-bottom: 10px;
      .status {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #00ff0a;
        display: block;

        &.red {
          background: #ff453a;
        }
        &.yellow {
          background: #fbff3a;
        }
        &.blue {
          background: #3aa0ff;
        }
      }
    }
    p {
      span {
        font-weight: 600;
        color: #bdbdbd;
      }
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .RatingBadgeWidget {
    width: 100%;
  }
  .rating__box {
    width: 179px;
    height: 63px;
    margin-top: 40px;
    iframe {
      // box-shadow: 0px 0px 10px -1px #ffffffcc;
      width: 100%;
      height: 100%;
      // background: #212429;
    }
    img {
      width: 179px;
      height: 68px;
    }
  }
  .operating__mode {
    max-width: 243px;
    width: 100%;
    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 22.01px;
      padding: 30px 0 15px 0;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.57px;
      padding: 15px 0;
    }
    span {
      font-size: 16px;
      font-weight: 600;
      line-height: 19.57px;
      color: #bdbdbd;
      display: block;
      padding-bottom: 5px;
    }
    p,
    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      display: block;
    }
  }
  .contact {
    padding: 30px 0 80px 0;
  }
  .status__box {
    .status__text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}

// media
@media screen and (max-width: 1365px) {
  .contact .operating__mode h3 {
    font-size: 16px;
    padding: 25px 0 15px 0;
    line-height: 19.57px;
  }
  .status__box {
    .status__text {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .contact .operating__mode p,
  .contact .operating__mode a,
  .contact .operating__mode h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .contact .map__box .status__text {
    font-size: 14px;
    line-height: 24px;
  }
  .contact .map__box .status__box {
    padding-bottom: 5px;
  }
  .contact .map__box p {
    font-size: 12px;
    line-height: 20px;
  }
  .contact .map__box .bottom__box {
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    padding-right: 73px;
  }
  .contact .operating__mode {
    max-width: 203px;
    min-width: 203px;
  }
  .contact .operating__mode h4 {
    max-width: 150px;
  }
  .contact .map__box {
    // max-width: 100%;
    width: 50%;
    iframe,
    .ymaps-2-1-79-map {
      height: 365px !important;
      width: 100% !important;
      border-radius: 18px;
    }
  }
  .contact {
    padding: 20px 0 60px 0;
  }
  .contact .map__box #map {
    height: 365px;
  }
}

@media screen and (max-width: 767px) {
  .contact .flex__box {
    flex-direction: column;
  }
  .status__box {
    .status__text {
      font-size: 12px;
      line-height: 24px;
    }
  }
  .contact .operating__mode {
    order: -1;
    max-width: 100%;
    text-align: center;
  }
  .contact .operating__mode h4 {
    margin: 0 auto;
    max-width: 128px;
  }
  .contact .rating__box {
    width: 162px;
    margin: 40px auto 0 auto;
  }
  .contact .flex__box {
    gap: 40px;
  }
  .contact .map__box {
    width: 100%;
  }
  .contact .map__box .status__text {
    font-size: 12px;
  }
  .contact .map__box .bottom__box {
    gap: 10px;
    padding-right: 0;
    display: grid;
    grid-template-columns: auto auto;
  }
  .contact .map__box iframe {
    height: 246.63px !important;
    border-radius: 16px;
  }
  .contact .map__box p {
    font-size: 11px;
  }
  .contact .map__box #map {
    height: 246px;
  }
}
