.pink__btn {
  color: #fff;
}
.media__show-text {
  display: none;
}
.cooperation__sec {
  .photo-cms-wrapper.photo {
    overflow: visible;
  }
  .media__none-text {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .photo-cms-sticky {
    overflow: visible !important;
  }
  .pink__btn {
    position: sticky;
    top: 40%;
    z-index: 10;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
  }
  font-family: "Inter", sans-serif;
  background: #171717;
  .top {
    padding: 120px 0 80px 0;
    text-align: center;
    position: relative;
    background: #080808;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 1587.03px;
      height: 588.59px;
      top: 0;
      left: 0;
      background: url(../../images/blur-bg.png) no-repeat;
      z-index: -1;
    }
    h1 {
      font-family: "Inter", sans-serif;
      font-size: 78px;
      font-weight: 600;
      line-height: 94.4px;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(
        178.93deg,
        #f4faff 13.28%,
        rgba(8, 8, 8, 0) 214.38%
      );
      margin-bottom: 0;
    }
    .title__text {
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Inter", sans-serif;
      font-size: 38px;
      font-weight: 600;
      line-height: 45.99px;
    }
    .title__box {
      max-width: 659px;
      margin: 0 auto;
      text-align: left;
      display: flex;
      flex-direction: column;
      h1:last-child {
        margin-left: auto;
        font-size: 64px;
        line-height: 77.45px;
        margin-top: -20px;
      }
    }
    p:first-child {
      text-align: right;
      padding-top: 0;
    }
    p,
    div {
      padding-top: 80px;
      font-size: 26px;
      font-weight: 500;
      line-height: 31.47px;
      margin-bottom: 0;
      max-width: 1320px;
      margin: 0 auto;
      span {
        font-size: 32px;
        font-weight: 500;
        line-height: 38.73px;
        color: #fffab0;
      }
    }
  }
  .cards__box {
    padding: 0 0 120px 0;
    background: linear-gradient(180deg, #080808 0%, #171717 100%);
    padding-top: 20px;
    .container {
      display: flex;
      align-items: center;
    }
    .photo-cms-list {
      padding-top: 169px;
    }

    .card {
      padding: 40px;
      border-radius: 40px;
      max-width: 550px;
      width: 100%;

      &.green {
        background: #425e64;
        margin-right: -10px;
      }
      &.pink {
        background: #424764;
        margin-left: -10px;
      }
      .title__info {
        font-size: 24px;
        font-weight: 600;
        line-height: 29.05px;
        padding-bottom: 25px;
        text-align: center;
        font-family: "Inter", sans-serif;
      }
    }
    .pink__btn {
      position: relative;
      z-index: 2;
    }
    .tr {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .flex__box {
      display: flex;
      align-items: start;
      gap: 10px;
      .title__item {
        display: block;
        font-family: "Futura";
        font-size: 56px;
        font-weight: 700;
        line-height: 74.42px;
        margin-top: -8px;
        background-image: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(201, 201, 207, 0) 77%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .content__box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
      }
      h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        span {
          color: #fffab0;
        }
      }
    }
  }
  .midle {
    padding-bottom: 120px;
    position: relative;
    z-index: 100;
    background: #171717;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;
      background: linear-gradient(
        180deg,
        rgba(23, 23, 23, 0) -1087.21%,
        #171717 100%
      );
      box-shadow: 0px -20px 19px 11px #171717;
    }
    .dot {
      width: 16px;
      height: 16px;
      background: #fff;
      display: inline-block;
    }

    .pink__btn {
      display: block;
      margin: 0 auto 17px auto;
    }
    .title__box {
      max-width: 968px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 120px;

      h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 77.45px;
        position: relative;
        font-family: "Inter", sans-serif;
        span {
          color: #fffab0;
        }
        &.line {
          position: relative;
          padding-left: 180px;
          margin-left: 25px;
          margin-bottom: 0;

          &::before {
            content: "";
            position: absolute;
            height: 1.7px;
            width: 180px;
            background: #fff;
            top: 50%;
            transform: translateY(-50%);
            left: -25px;
          }
        }
      }
    }
    .info__box {
      padding-top: 200px;
      p {
        color: #5f5f5f;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        span {
          color: #fff;
        }
      }
    }
    .img__box {
      position: relative;
      width: 286px;
      margin-left: 50px;
      img {
        width: 100%;
      }
      .pink__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
    }
  }
  .phone__box {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    .content__parent {
      display: flex;
      flex-direction: column;
      gap: 80px;
      transform: translateX(30px);
      // overflow: hidden;
    }
    .content__info {
      padding: 25px 30px;
      border-radius: 24px;
      background: #282b33;
      max-width: 406px;
      width: 100%;
      &.first {
        margin-left: -50px;
      }
      &.last {
        margin-left: 50px;
      }
      p {
        font-size: 20px;
        font-weight: 500;
        line-height: 24.2px;

        span.green {
          color: #7dffaf;
        }
        span.yellow {
          color: #fffab0;
        }
        span.red {
          color: #ff4e55;
        }
        span.blue {
          color: #63ffff;
        }
      }
    }
    .animated-element {
      width: 200px;
      height: 300px;
      background-color: #333;
      border: 1px solid #444;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      position: absolute;
      right: 100%;
    }
  }
  .bottom {
    border-top: 1px solid #ffffff66;
    padding: 40px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    .bottom__container {
      max-width: 1320px;
      margin: 0 auto;
    }
    p,
    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      color: #ffffffb2;
      margin-bottom: 10px;
    }
  }
  .no-mt {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}

.cards__box.media__block {
  display: none;
}
@media screen and (max-width: 1365px) {
  .cards__box.media__block {
    display: block;
  }
  .cooperation__sec .midle .title__box h1.line {
    margin-left: 0;
    margin: 0 auto;
  }
  .cooperation__sec .midle .title__box {
    max-width: 730px;
  }
  .cooperation__sec .midle .title__box h1.line {
    // padding-left: ;
  }
  .cooperation__sec .midle .title__box h1,
  .cooperation__sec .midle .title__box h1 span {
    width: fit-content;
  }
  .section.photo,
  .section.photo-section {
    display: none;
  }
  .cooperation__sec {
    background: #0a0a0a;
  }

  .cooperation__sec .top p:first-child {
    text-align: center;
    padding-top: 0;
  }
  .cooperation__sec .top h1 {
    font-size: 62px;
    line-height: 75.03px;
  }
  .cooperation__sec .top .title__text {
    font-size: 34px;
    line-height: 41.15px;
  }
  .cooperation__sec .top .title__box {
    max-width: 525px;
  }
  .cooperation__sec .top {
    padding: 100px 0 60px 0;
  }
  .cooperation__sec .top p,
  .cooperation__sec .top div {
    font-size: 18px;
    line-height: 21.78px;
    padding: 80px 0 0 0;
    span {
      font-size: 18px;
    }
  }
  .pink__btn {
    padding: 17px 28px;
  }
  .cooperation__sec .cards__box .card {
    transform: rotate(0) !important;
    border-radius: 36px;
    margin: 0 !important;
    min-width: 550px;
  }
  .cooperation__sec .cards__box {
    padding: 140px 0;
  }
  .cooperation__sec .cards__box .container {
    gap: 15px;
    align-items: stretch;
    overflow-x: scroll;
    z-index: 100;
    position: relative;
    justify-content: space-between;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .cooperation__sec .cards__box .pink__btn {
    display: none;
  }
  .cooperation__sec .cards__box .card .title__info {
    font-size: 22px;
  }
  .cooperation__sec .midle .title__box h1,
  .cooperation__sec .midle .title__box h1 span {
    font-size: 42px;
    line-height: 50.83px;
  }
  .cooperation__sec .phone__box .content__info {
    max-width: 213px;
    padding: 14px;
    border-radius: 14px;
    p {
      font-size: 14px;
      line-height: 16.94px;
    }
  }
  .cooperation__sec .phone__box {
    gap: 5px;
  }
  .cooperation__sec .phone__box .content__parent {
    gap: 66px;
    transform: translateX(0);
  }
  .cooperation__sec .midle .img__box {
    width: 260px;
    height: 560px;
    margin: 0 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .cooperation__sec .phone__box .content__info.first {
    margin-left: -6px;
  }
  .cooperation__sec .phone__box .content__info.last {
    margin-left: 6px;
  }
  .cooperation__sec .midle .info__box {
    padding-top: 240px;

    p {
      font-size: 16px;
      line-height: 28px;
    }
  }
  .cooperation__sec .midle {
    padding-bottom: 100px;
  }
  .cooperation__sec .bottom {
    padding: 40px 30px;
    background: #171717;
    max-width: 100%;
  }
  .cooperation__sec .midle .dot {
    width: 12px;
    height: 12px;
  }
  .media__none-text {
    br {
      display: none;
    }
  }
  .cooperation__sec .top p,
  .cooperation__sec .top div {
    padding: 0 0 80px 0;
  }
  .cooperation__sec .top p:first-child {
    padding-bottom: 0;
  }
  .cooperation__sec .top .title__box h1:last-child {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .cooperation__modal .pink__btn {
    width: 100%;
  }
  .cooperation__sec .top h1 {
    font-size: 32px;
    line-height: 38.73px;
  }
  .cooperation__sec .top .title__text {
    font-size: 22px;
    line-height: 26.63px;
  }
  .cooperation__sec .top .title__box {
    margin: 0 auto;
    max-width: 269px;
  }
  .cooperation__sec .top .title__box h1:last-child {
    font-size: 26px;
  }
  .cooperation__sec .top {
    padding: 57px 0 60px 0;
  }
  .cooperation__sec .top p:first-child {
    text-align: left;
    padding: 0 !important;
    display: inline;
  }
  .cooperation__sec .top p,
  .cooperation__sec .top div {
    padding: 65px 15px 60px 15px;
    font-size: 14px;
    line-height: 19.36px;
    text-align: left;
    span {
      font-size: 16px;
    }
    br {
      display: none;
    }
  }
  .cooperation__sec .top div {
    padding-bottom: 0;
  }
  .pink__btn {
    padding: 12px 22px;
    font-size: 14px;
  }
  .cooperation__sec .cards__box .card {
    padding: 15px;
    border-radius: 22px;
    // max-width: 280px;
    min-width: 280px;
  }
  .cooperation__sec .cards__box .card .title__info {
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 20px;
  }
  .cooperation__sec .cards__box .content__box h5 {
    padding-top: 11px;
  }
  .cooperation__sec .cards__box .content__box h5,
  .cooperation__sec .cards__box .content__box p {
    font-size: 13px;
    line-height: 15.73px;
  }
  .cooperation__sec .cards__box .flex__box .title__item {
    font-size: 40px;
    line-height: 53.16px;
    margin-top: 0;
  }
  .cooperation__sec .cards__box {
    padding-bottom: 100px;
  }
  .cooperation__sec .midle .title__box h1,
  .cooperation__sec .midle .title__box h1 span {
    font-size: 20px;
    line-height: 24.2px;
  }
  .cooperation__sec .midle .title__box h1.line::before {
    width: 40px;
    left: -39px;
  }
  .cooperation__sec .midle .title__box h1.line {
    padding-left: 11px;
    margin-left: auto;
    margin-right: 0;
  }
  .cooperation__sec .midle .title__box {
    padding-bottom: 80px;
    max-width: 290px;
    margin: 0 auto;
  }
  .cooperation__sec .phone__box .content__info {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    display: none;
  }
  .cooperation__sec .phone__box .content__info.first {
    display: block;
    z-index: 1;
  }
  .cooperation__sec .phone__box {
    position: relative;
    flex-direction: column;
  }
  .cooperation__sec .midle .info__box {
    padding-top: 180px;
  }
  .cooperation__sec .midle .info__box p {
    font-size: 14px;
    line-height: 23.8px;
  }
  .cooperation__sec .midle {
    padding-bottom: 80px;
  }
  .cooperation__sec .bottom {
    margin: 0;
    padding: 40px 15px 20px 15px;
    text-align: left;
  }
  .cooperation__sec .midle .dot {
    width: 6px;
    height: 6px;
  }
  .cooperation__sec .phone__box .content__info {
    position: unset;
    display: block;
  }
  .cooperation__sec .phone__box .content__parent {
    position: absolute;
    z-index: 2;
    top: 0;
    gap: 10px;

    &:last-child {
      bottom: 0;
      top: auto;
    }
  }
  .cooperation__sec .phone__box .content__info.last,
  .cooperation__sec .phone__box .content__info.first {
    margin-left: 0;
  }
  .cooperation__sec .top p,
  .cooperation__sec .top div {
    padding-top: 0;
  }
  .cooperation__sec .top h1 {
    font-size: 32px;
  }
  .cooperation__sec .top .title__box {
    // padding-bottom: 65px;
    padding-bottom: 50px;
  }
  .media__show-text {
    display: block;
    padding: 0 !important;
  }
  .media__none-text {
    display: none;
  }
  .cooperation__sec .top p span,
  .cooperation__sec .top div span {
    line-height: 16px;
  }
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .cooperation__sec .top .title__box {
    margin: 0 auto;
    max-width: 310px;
  }
}
.cooperation__modal {
  .modal__content {
    background: #212429;
    border: 1px solid #ffffff33;
  }
  .remember__box label::before {
    background: #282b33;
  }
  .remember__box {
    label a {
      color: #a594fdb2;
    }
    input:checked + label::before {
      background: #a594fd;
    }
  }
  .modal__input {
    background: #282b33;
  }
  .textarea {
    height: 115px;
    resize: none;
    padding-top: 7px;
  }
  .modal__close-btn {
    background: #282b33;
  }
}

@media screen and (max-width: 480px) {
  .cooperation__sec .top .title__box {
    margin: 0 auto;
    max-width: 300px;
  }
  .cooperation__sec .top .title__box h1:last-child {
    margin-top: -30px;
    margin-left: 39px;
  }
}

@media screen and (max-width: 330px) {
  .cooperation__sec .top .title__box h1:last-child {
    margin-left: 29px;
  }
}
