@use "./home";
@use "./stock";
@use "./news";
@use "./not-found";
@use "./news-two";
@use "./promotion";
@use "./delivery";
@use "./reviews";
@use "./basket";
@use "./contact";
@use "./categories";
@use "./order";
@use "./product";
@use "./decor";
