.news {
  background: #2f323a;
  padding: 40px 0 120px 0;
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .news__card {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  &__img {
    max-width: 400px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
  }
  &__date {
    font-family: "Futura", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.95px;
    color: #ff453a;
    text-transform: uppercase;
  }
  &__title {
    padding: 15px 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.91px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 40px;
  &__numbers {
    display: flex;
    gap: 24px;
    span {
      display: block;
      font-size: 20px;
      font-weight: 700;
      line-height: 24.46px;
      color: #fff;
      cursor: pointer;
      &.active {
        color: #ff453a;
      }
    }
  }
  button {
    padding: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .news {
    padding: 30px 0 80px 0;
  }
  .news__img {
    width: 346px;
    height: 207px;
    border-radius: 18px;
  }
  .news .news__card {
    gap: 20px;
    align-items: start;
  }
  .desc {
    font-size: 14px;
    line-height: 22px;
  }
  .pagination__numbers span {
    font-size: 18px;
    line-height: 22.01px;
  }
}

@media screen and (max-width: 767px) {
  .news .news__card {
    flex-direction: column;
    gap: 15px;
  }
  .news__img {
    height: 174px;
    max-width: 100%;
    width: 100%;
  }
  .news__title {
    padding: 10px 0;
  }
  .news {
    padding: 20p 0 60px 0;
  }
  .pagination {
    gap: 28px;
    button img {
      width: 52px;
    }
    &__numbers {
      gap: 20px;
      span {
        font-size: 16px;
        line-height: 19.57px;
      }
    }
  }
}
