.news__two {
  background: #2f323a;
  margin-top: 33px;
  padding-bottom: 120px;
  .flex__box {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }
  .news__info {
    display: flex;
    align-items: start;
    gap: 35px;

    &.bottom {
      padding-top: 25px;
      .news__info-content {
        padding-top: 0;
        gap: 0;
      }
      .flex__box {
        padding-bottom: 15px;
      }
      .news__info-img {
        transform: translateY(0);
      }
      ul {
        padding: 15px 0 15px 25px;
        li {
          list-style: disc;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: #bdbdbd;
        }
      }
    }
    &-img {
      transform: translateY(-20px);
      border-radius: 24px;
      max-width: 600px;
      height: 400px;
      width: 100%;
    }

    &-content {
      padding-top: 41px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  .desc {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    a,
    span {
      color: #ff453a;
      display: inline;
    }
  }
  .midle__box {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    ol {
      list-style: disc;
      padding-left: 24px;
      li {
        list-style: decimal;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #bdbdbd;
        span,
        a {
          color: #ff453a;
        }
      }
    }
  }
  .title__desc {
    font-weight: 600;
    color: #bdbdbd;
  }
}

@media screen and (max-width: 1365px) {
  .news__two .news__info {
    flex-direction: column;
    gap: 15px;
  }
  .news__two .news__info-img {
    max-width: 100%;
    height: auto;
    border-radius: 18px;
    object-fit: cover;
  }
  .news__two .news__info-content {
    padding-top: 0;
  }
  .news__two .desc {
    font-size: 14px;
    line-height: 22px;
  }
  .news__two .midle__box {
    gap: 15px;
  }
  .news__two .news__info.bottom {
    padding-top: 20px;
    gap: 20px;
  }
  .news__info.bottom .news__info-img {
    order: -1;
  }
  .news__two .news__info.bottom ul,
  .news__two .midle__box ol {
    padding-left: 20px;
  }
  .news__two {
    padding-bottom: 80px;
    margin-top: 20px;
  }
  .news__two .midle__box ol li {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .news__two .news__info {
    gap: 5px;
  }
  .news__two .midle__box {
    gap: 10px;
  }
  .news__two .news__info .news__info-img {
    height: auto;
    border-radius: 16px;
  }
  .news__two .news__info-img {
    transform: translateY(-9px);
  }
  .news__two {
    padding-bottom: 60px;
  }
}
