.reviews {
  padding: 40px 0 120px 0;
  background: #2f323a;
  .sidebars {
    display: flex;
    align-items: start;
    gap: 35px;
    justify-content: space-between;
  }
  .yandex__reviews-box {
    margin: 25px 0 20px 0;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #00ff0a;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .left__box {
    max-width: 560px;
    width: 100%;
  }

  .right__box {
    flex: 1 1 auto;
    .description__box {
      margin: 15px 0 80px 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      span {
        color: #bdbdbd;
      }
    }
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  .reviews__box {
    height: 1067px;
    .badge,
    .mini-badge,
    .mini-badge__org-name {
      color: #bdbdbd;
    }
    .badge {
      background: #000;
    }
    iframe,
    img {
      border: none;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      background: #212429;
    }
  }
}

// media query
@media screen and (max-width: 1365px) {
  .reviews .sidebars {
    flex-direction: column;
    gap: 40px;
  }
  .reviews .left__box {
    margin: 0 auto;
  }
  .reviews .right__box {
    display: flex;
    flex-direction: column;
    img {
      order: -1;
      margin: 0 auto 40px auto;
    }
  }
  .reviews .right__box .description__box {
    margin: 15px 0 0 0;
  }
  .reviews {
    padding: 30px 0 80px 0;
  }
  .reviews .yandex__reviews-box {
    padding: 12px 0;
    margin: 20px 0;
    border-radius: 14px;
    img {
      width: 27px;
      height: 27px;
    }
  }
  .reviews .reviews__box iframe {
    border-radius: 18px;
  }
}
.media__show {
  display: none;
}
@media screen and (max-width: 767px) {
  .reviews .left__box {
    max-width: 100%;
  }
  .reviews .reviews__box {
    text-align: center;
    a {
      height: 100%;
      // width: 560px;
      margin: 0 auto;
    }
  }
  .reviews .yandex__reviews-box {
    img {
      width: 25px;
      height: 25px;
    }
    h3 {
      font-size: 16px;
    }
  }
  .reviews .right__box {
    width: 100%;
  }
  .reviews .right__box .title__lg {
    font-size: 22px;
  }
  .reviews {
    padding: 20px 0 60px 0;
  }
  .reviews .reviews__box iframe {
    border-radius: 16px;
  }
  .mini-badge__stars-count {
    font-size: 10px;
  }
}

@media screen and (max-width: 530px) {
  .reviews .right__box img {
    width: 100%;
    height: 223px;
  }
  .reviews__box {
    height: auto !important;
    .media__hide {
      display: none;
    }
    .media__show {
      display: block;
      width: 100%;
    }
    a {
      width: 100%;
    }
  }
}
