.stock__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  gap: 20px;

  .stock__card {
    // border: 1px solid;
    // border-image-source: linear-gradient(
    //   0deg,
    //   rgba(255, 255, 255, 0.1) 0%,
    //   rgba(255, 255, 255, 0) 100%
    // );
    border-left: 0.5px solid rgba(255, 255, 255, 0.1);
    border-right: 0.5px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(180deg, #212429 26.74%, #30333a 100%);
    overflow: hidden;
    border-radius: 24px;
    .card__img {
      height: 202px;
      width: 100%;
      object-fit: cover;
    }
    .card__content {
      padding: 20px 20px 47px 20px;
    }
    .card__title {
      font-size: 18px;
      font-weight: 600;
      line-height: 22.01px;
    }
    .desc {
      padding: 15px 0 20px 0;
    }
  }
}

// media
@media screen and (max-width: 1343px) {
  .stock__cards {
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  }
}
@media screen and (max-width: 1024px) {
  .stock__cards .stock__card .card__img {
    height: 165px;
  }
  .stock__cards .stock__card .card__content {
    padding: 20px 15px;
  }
  .stock__cards .stock__card .card__title {
    font-size: 16px;
    line-height: 19.57px;
  }
  .stock__cards .stock__card .desc {
    font-size: 14px;
    line-height: 17.12px;
  }
  .stock__cards {
    gap: 15px;
  }
  .delivery {
    padding: 80px 0;
  }
  .stock__cards .stock__card {
    border-radius: 20px;
  }
  .stock__cards .stock__card .card__img {
    border-radius: 20px;
  }
  .title.pb-25 {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .stock__cards {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    margin-right: -15px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .stock__cards .stock__card {
    min-width: 244px;
    max-width: 244px;
    width: 100%;
    border-radius: 18px;
  }
  .stock__cards .stock__card .card__img {
    border-radius: 18px;
    height: 115px;
  }
  .stock__cards .stock__card .card__title {
    font-size: 14px;
    line-height: 17.12px;
  }
  .stock__cards .stock__card .desc {
    font-size: 13px;
    line-height: 15.9px;
    padding: 10px 0 20px 0;
  }
  .delivery {
    padding: 60px 0;
  }
}
