.footer {
  border-top: 1px solid #ffffff33;
  background: #2f323a;
  padding: 60px 0 38px 0;

  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #bdbdbd;
    display: block;
  }
  .first {
    a,
    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
    }
  }
  .adres,
  .work__time,
  .gmail__adres {
    font-weight: 600;
    font-size: 16px;
  }
  .parrent__row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .row {
    display: flex;
    align-items: start;
    &.first {
      gap: 40px;
    }
    &.second {
      gap: 70px;
    }
  }
  .col {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .teal__btn {
    background: #0bb699;
    border: 1.5px solid #ffffff1a;
    padding: 14px 20px 14px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 40px;
    width: fit-content;
    margin-top: 15px;
    transition: all 0.2s linear;

    &:hover {
      background: #129c86;
    }
  }
  &__menu-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #bdbdbd;
  }
  &__link {
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;

    &:hover {
      color: #bdbdbd;
    }
  }
  .last {
    h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 25px;
    }
    a {
      display: block;
      margin-left: -24px;
    }
  }
  .media__block,
  .xs__block {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    .parrent__row {
      .media__block {
        padding-top: 0;
      }
    }
    .media__block {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
  .footer .row.second {
    justify-content: space-between;
    width: calc(100% - 224px);
    display: none;
  }
  .footer .row.first {
    display: none;
  }
  .footer .last {
    width: 234px;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 14px;
    line-height: 28px;
  }
  .footer .teal__btn {
    font-size: 14px;
    padding: 12px 24px;
    margin-top: 0;
  }
  .footer .col {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer .parrent__row {
    gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .footer .media__block .col:last-child {
    text-align: center;
    width: 100%;
    justify-content: center;
  }
  .footer .teal__btn {
    margin: 0 auto;
  }
  .footer {
    padding: 40px 0;
  }
  .footer .last {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
  .footer {
    .xs__block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      a,
      span,
      p {
        font-size: 13px;
        line-height: 22px;
      }
      .col {
        justify-content: space-between;
      }
    }
    .xs__hide {
      display: none;
    }
    .footer__link {
      font-size: 13px;
    }
    .parrent__row {
      row-gap: 40px;
    }
  }
}
